#game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;
}

#game-canvas {
    height: 400px;
    width: 200px;
    border: 2px black solid;
}

#status-bar {
    display: flex;
    width: 30rem;
    justify-content: space-around;
    border: 2px black solid;
    margin: 0.5rem auto;
    padding: 0.5rem;
}

#high-score-table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;
}

#high-score-table-container > p {
    text-align: center;
}

#high-score-table {
    border: 2px black solid;
    padding: 0.5rem;
    margin: 0.5rem;
}

footer {
    text-align: right;
    margin: 0.5rem;
}