#game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;
}

#game-canvas {
    height: 400px;
    width: 200px;
    border: 2px black solid;
}

#status-bar {
    display: flex;
    width: 100vw;
    justify-content: space-around;
    border: 2px black solid;
}

footer {
    text-align: right;
    margin: 0.5rem;
}